interactions:
- request:
    body: null
    headers:
      token:
      - REDACTED
    method: GET
    uri: https://www.ncei.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TMAX&enddate=2026-02-15&includemetadata=true&limit=1000&locationid=FIPS%3A11&offset=0&startdate=2026-02-08&units=standard
  response:
    body:
      string: '{"metadata":{"resultset":{"offset":1,"count":8,"limit":1000}},"results":[{"date":"2026-02-08T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":35.0},{"date":"2026-02-09T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":27.0},{"date":"2026-02-10T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":36.0},{"date":"2026-02-11T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":51.0},{"date":"2026-02-12T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":50.0},{"date":"2026-02-13T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":39.0},{"date":"2026-02-14T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":40.0},{"date":"2026-02-15T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":58.0}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
