interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?classKey=212&country=US&hasCoordinate=true&limit=2&offset=0&stateProvince=Arizona
  response:
    body:
      string: '{"offset": 0, "limit": 2, "endOfRecords": false, "count": 37041938,
        "results": [{"key": 5938027803, "basisOfRecord": "HUMAN_OBSERVATION", "occurrenceStatus":
        "PRESENT", "scientificName": "Aythya valisineria (A.Wilson, 1814)", "acceptedScientificName":
        "Aythya valisineria (A.Wilson, 1814)", "stateProvince": "Arizona", "eventDate":
        "2026-01-02T16:52:33", "references": "https://example.invalid/gbif-occurrence",
        "license": "http://creativecommons.org/licenses/by/4.0/legalcode", "class":
        "Aves", "countryCode": "US", "gbifID": "5938027803"}, {"key": 5938028359,
        "basisOfRecord": "HUMAN_OBSERVATION", "occurrenceStatus": "PRESENT", "scientificName":
        "Corthylio calendula (Linnaeus, 1766)", "acceptedScientificName": "Regulus
        calendula (Linnaeus, 1766)", "stateProvince": "Arizona", "eventDate": "2026-01-03T08:41",
        "references": "https://example.invalid/gbif-occurrence", "license": "http://creativecommons.org/licenses/by-nc/4.0/legalcode",
        "class": "Aves", "countryCode": "US", "gbifID": "5938028359"}], "facets":
        []}'
    headers:
      Content-Type:
      - application/json
      X-Varnish-RLG:
      - '250'
      X-Varnish-RLI:
      - '18'
    status:
      code: 200
      message: OK
[...]
