interactions:
- request:
    body: null
    headers:
      token:
      - REDACTED
    method: GET
    uri: https://www.ncei.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TMAX&enddate=2026-02-15&includemetadata=true&limit=1000&locationid=FIPS%3A11&offset=0&startdate=2026-02-08&units=standard
  response:
    body:
      string: '{"metadata":{"resultset":{"offset":1,"count":8,"limit":1000}},"results":[{"date":"2026-02-08T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":35.0},{"date":"2026-02-09T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":27.0},{"date":"2026-02-10T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":36.0},{"date":"2026-02-11T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":51.0},{"date":"2026-02-12T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":50.0},{"date":"2026-02-13T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":39.0},{"date":"2026-02-14T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":40.0},{"date":"2026-02-15T00:00:00","datatype":"TMAX","station":"GHCND:USC00186350","attributes":",,7,0800","value":58.0}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      token:
      - REDACTED
    method: GET
    uri: https://www.ncei.noaa.gov/cdo-web/api/v2/stations?datasetid=GHCND&limit=1000&locationid=FIPS%3A11&offset=0
  response:
    body:
      string: '{"metadata":{"resultset":{"offset":1,"count":23,"limit":1000}},"results":[{"elevation":17.1,"mindate":"2006-05-01","maxdate":"2006-08-31","latitude":38.917137,"name":"WASHINGTON
        3.0 ENE, DC US","datacoverage":0.9919,"id":"GHCND:US1DCDC0001","elevationUnit":"METERS","longitude":-76.962607},{"elevation":85,"mindate":"2006-05-01","maxdate":"2007-03-17","latitude":38.957388,"name":"WASHINGTON
        3.7 NNW, DC US","datacoverage":0.3333,"id":"GHCND:US1DCDC0002","elevationUnit":"METERS","longitude":-77.033727},{"elevation":91.1,"mindate":"2006-05-01","maxdate":"2006-08-31","latitude":38.937668,"name":"WASHINGTON
        5.0 WNW, DC US","datacoverage":0.9024,"id":"GHCND:US1DCDC0003","elevationUnit":"METERS","longitude":-77.099101},{"elevation":21.9,"mindate":"2007-03-01","[...]
- request:
    body: null
    headers:
      token:
      - REDACTED
    method: GET
    uri: https://www.ncei.noaa.gov/cdo-web/api/v2/datasets/GHCND
  response:
    body:
      string: '{"mindate":"1763-01-01","maxdate":"2026-04-17","name":"Daily Summaries","datacoverage":1,"id":"GHCND"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
