interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://xeno-canto.org/api/3/recordings?key=REDACTED&page=1&per_page=2&query=cnt%3A%22United+States%22+loc%3A%22Arizona%22+grp%3Abirds
  response:
    body:
      string: '{"numRecordings": "11711", "numSpecies": "368", "page": 1, "numPages":
        235, "recordings": [{"id": "728080", "gen": "Dendrocygna", "sp": "autumnalis",
        "en": "Black-bellied Whistling Duck", "cnt": "United States", "type": "flight
        call", "url": "https://xeno-canto.org/728080", "file": "https://xeno-canto.org/728080/download",
        "lic": "https://creativecommons.org/licenses/by-nc-sa/4.0/", "q": "B", "date":
        "2022-05-29"}, {"id": "780557", "gen": "Dendrocygna", "sp": "autumnalis",
        "en": "Black-bellied Whistling Duck", "cnt": "United States", "type": "call",
        "url": "https://xeno-canto.org/780557", "file": "https://xeno-canto.org/780557/download",
        "lic": "https://creativecommons.org/licenses/by-nc-sa/4.0/", "q": "C", "date":
        "2022-07-25"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
