interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://waterservices.usgs.gov/nwis/dv/?endDT=2026-02-15&format=json&parameterCd=00060&siteStatus=active&startDT=2026-02-12&stateCd=RI
  response:
    body:
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/dv/format=json&stateCd=RI&parameterCd=00060&startDT=2026-02-12&endDT=2026-02-15&siteStatus=active","criteria":{"locationParam":"[]","variableParam":"[00060]","timeParam":{"beginDateTime":"2026-02-12T00:00:00.000","endDateTime":"2026-02-15T00:00:00.000"},"parameter":[]},"note":[{"value":"[ri]","title":"filter:stateCd"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2026-02-12T00:00:00.000-05:00/2026-02-15T00:00:00.000-05:00]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2026-04-20T19:50:04.055Z","title":"requestDT"},{"value":"1fdbd990-3cf2-11f1-94ac-2cea7f5e5ede","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"sdas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"ADAMSVILLE
        BROOK AT ADAMSVILLE, RI","siteCode":[{"value":"01106000","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-05:00","zoneAbbreviation":"EST"},"daylightSavingsTimeZone":{"zoneOffset":"-04:00","zoneAbbreviation":"EDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":41.55831305,"longitude":-71.12919264},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"010900020502","name":"hucCd"},{"value":"44","name":"stateCd"},{"value":"44005","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"value":"Mean","name":"Statistic","optionCode":"00003"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"5.52","qualifiers":["P"],"dateTime":"2026-02-12T00:00:00.000"},{"value":"5.59","qualifiers":["P"],"dateTime":"2026-02-13T00:00:00.000"},{"value":"5.59","qualifiers":["P"],"dateTime":"2026-02-14T00:00:00.000"},{"value":"5.31","qualifiers":["P"],"dateTime":"2026-02-15T00:00:00.000"}],"qualifier":[{"qualifierCode":"P","qualifierDescription":"Provisional
        data subject to revision.","qualifierID":0,"network":"NWIS","vocabulary":"uv_rmk_cd"}],"qualityControlLevel":[],"method":[{"methodDescription":"","methodID":64271}],"source":[],"offset":[],"sample":[],"censorCode":[]}],"name":"USGS:01106000:00060:00003"},{"sourceInfo":{"siteName":"TEN
        MILE R., PAWTUCKET AVE. AT E. PROVIDENCE, RI","siteCode":[{"value":"01109403","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-05:00","zoneAbbreviation":"EST"},"daylightSavingsTimeZone":{"zoneOffset":"-04:00","zoneAbbreviation":"EDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":41.83093377,"longitude":-71.3503315},"localSiteXY[...]
