interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson
  response:
    body:
      string: '{"type": "FeatureCollection", "metadata": {"generated": 1784070690000,
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson",
        "title": "USGS All Earthquakes, Past Day", "status": 200, "api": "2.7.0",
        "count": 282}, "features": [{"type": "Feature", "properties": {"mag": 0.83,
        "place": "11 km WNW of Cobb, CA", "time": 1784070304900, "updated": 1784070400960,
        "tz": null, "url": "https://earthquake.usgs.gov/earthquakes/eventpage/nc75396026",
        "detail": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/nc75396026.geojson",
        "felt": null, "cdi": null, "mmi": null, "alert": null, "status": "automatic",
        "tsunami": 0, "sig": 11, "net": "nc", "code": "75396026", "ids": ",nc75396026,",
        "sources": ",nc,", "types": ",nearby-cities,origin,phase-data,", "nst": 10,
        "dmin": 0.01154, "rms": 0.02, "gap": 140, "magType": "md", "type": "earthquake",
        "title": "M 0.8 - 11 km WNW of Cobb, CA"}, "geometry": {"type": "Point", "coordinates":
        [-122.837997436523, 38.8561668395996, 1.30999994277954]}, "id": "nc75396026"},
        {"type": "Feature", "properties": {"mag": 1.4, "place": "16 km WSW of Johannesburg,
        CA", "time": 1784069681830, "updated": 1784069885492, "tz": null, "url": "https://earthquake.usgs.gov/earthquakes/eventpage/ci40654882",
        "detail": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/ci40654882.geojson",
        "felt": null, "cdi": null, "mmi": null, "alert": null, "status": "automatic",
        "tsunami": 0, "sig": 30, "net": "ci", "code": "40654882", "ids": ",ci40654882,",
        "sources": ",ci,", "types": ",nearby-cities,origin,phase-data,scitech-link,",
        "nst": 50, "dmin": 0.05892, "rms": 0.23, "gap": 58, "magType": "ml", "type":
        "earthquake", "title": "M 1.4 - 16 km WSW of Johannesburg, CA"}, "geometry":
        {"type": "Point", "coordinates": [-117.798333333333, 35.3118333333333, 6.11]},
        "id": "ci40654882"}], "bbox": [-178.5092, -22.7425, -2.85, 171.4439, 65.068,
        574.304]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 14 Jul 2026 23:11:30 GMT
    status:
      code: 200
      message: OK
version: 1
