interactions:
- request:
    body: null
    headers:
      x-ebirdapitoken:
      - REDACTED
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-DC/recent?back=1&includeProvisional=True&maxResults=50
  response:
    body:
      string: '[{"speciesCode":"ovenbi1","comName":"Ovenbird","sciName":"Seiurus aurocapilla","locId":"L30659777","locName":"Smithsonian
        Pollinator Garden","obsDt":"2026-04-20 13:35","howMany":1,"lat":38.8913913,"lng":-77.0243178,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S324733112"},{"speciesCode":"rocpig","comName":"Rock
        Pigeon","sciName":"Columba livia","locId":"L473521","locName":"Constitution
        Gardens and Reflecting Pool","obsDt":"2026-04-20 12:31","lat":38.8901142,"lng":-77.043364,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S324731643","exoticCategory":"N"},{"speciesCode":"ribgul","comName":"Ring-billed
        Gull","sciName":"Larus delawarensis","locId":"L473521","locName":"Constitution
        Gardens and Reflecting Pool","obsDt":"2026-04-20 12:31","howMany":3,"lat":38.8901142,"lng":-77.043364,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S324731643"},{"speciesCode":"eursta","comName":"European
        Starling","sciName":"Sturnus vulgaris","locId":"L473521","locName":"Constitution
        Gardens and Reflecting Pool"[...]
