interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fws.gov/fws_search/search_images?%24orderby=field_document_publication_date+desc&%24skip=0&%24top=100&species=%5B%22Berylline+Hummingbird%22%5D
  response:
    body:
      string: '{"list": ["\n<div class=\"teaser media-image\">\n  \n    <div class=\"layout
        layout--twocol-section layout--twocol-section--25-75\">\n\n          <div  class=\"layout__region
        layout__region--first\">\n        <section class=\"teaser-thumbnail block
        block-layout-builder block-field-blockmediaimagefield-media-image clearfix\">\n  <div
        class=\"block-container\">\n    \n        \n\n          \n            <div
        class=\"field field--name-field-media-image field--type-image field--label-hidden
        field--item\">  <a href=\"/media/berylline-hummingbird\" hreflang=\"en\"><img
        loading=\"lazy\" src=\"/sites/default/files/styles/large_square/public/images/2024-06/berylline-hummingbird-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fws.gov/fws_search/global_search?%24keywords=%22Berylline+Hummingbird%22&%24orderby=search_api_relevance+desc&%24skip=0&%24top=100&type=%5B%22Image%22%5D
  response:
    body:
      string: '{"list": ["\n<div class=\"teaser media-image\">\n  \n    <div class=\"layout
        layout--twocol-section layout--twocol-section--25-75\">\n\n          <div  class=\"layout__region
        layout__region--first\">\n        <section[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fws.gov/fws_search/global_search?%24keywords=%22Amazilia+beryllina%22&%24orderby=search_api_relevance+desc&%24skip=0&%24top=100&type=%5B%22Image%22%5D
  response:
    body:
      string: '{"list": ["\n<div class=\"teaser media-image\">\n  \n    <div class=\"layout
        layout--twocol-section layout--twocol-section--25-75\">\n\n          <div  class=\"layout__region
        layout__region--first\">\n        <section cl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fws.gov/media/berylline-hummingbird-0
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\"><head><meta
        charset=\"utf-8\" /><script async src=\"https://www.googletagmanager.com/gtag/js?id=G-KERW0RESPC\"></script><script>window.dataLayer
        = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag(\"js\",
        new Date());gtag(\"set\", \"developer_id.dMDhkMT\", true);gtag(\"config\",
        \"G-KERW0RESPC\", {\"groups\":\"default\",\"page_placeholder\":\"PLACEHOLDER_page_location\"});</script><link
        rel=\"canonical\" href=\"https://www.fws.gov/media/berylline-hummingbird-0\"
        /><meta property=\"og:site_name\" content=\"FWS.gov\" /><meta property=\"og:url\"
        content=\"https://www.fws.gov/media/berylline-hummingbird-0\" /><meta property=\"og:title\"
        content=\"Berylline hummingbird\" /><meta name=\"Generator\" content=\"Drupal
        11 (https://www.drupal.org)\" /><meta name=\"MobileOptimized\" content=\"width\"
        /><meta name=\"HandheldFriendly\" content=\"true\" /><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\" /><script type=\"application/ld+json\">{\"@context\":
        \"https://schema.org\",\"@graph\": [{\"@type\": \"GovernmentOrganization\",\"@id\":
        \"https://fws.gov\",\"sameAs\": \"https://en.wikipedia.org/wiki/United_States_Fish_and_Wildlife_Service\",\"url\":
        \"https://fws.gov\",\"name\": \"U.S. Fish and Wildlife Service\"},{\"@type\":
        \"WebSite\",\"@id\": \"https://fws.gov\",\"name\": \"U.S. Fish and Wildlife
        Service\",\"url\": \"https://fws.gov\"}]\n}</script><script async id=\"_fed_an_ua_tag\"
        type=\"text/javascript\" src=\"https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOI&amp;subagency=USFWS\"></script><link
        rel=\"icon\" href=\"/themes/custom/fws_gov/favicon.ico\" type=\"image/vnd.microsoft.icon\"
        /><title>Berylline hummingbird | FWS.gov</title><link rel=\"stylesheet\" media=\"all\"
        href=\"/sites/default/files/css/css_dHBObhsMK-11MePC0t8Q2K05sfZuvOYMXx_ESqfXITA.css?delta=0&amp;language=en&amp;theme=fws_gov&amp;include=eJx1j2EOgyAMhS8kkuxCpGJBYqHE4oi3H5olbtP96_va1_a5KtpxKlBROGLnmvbEA5CSslFI_kBcycLCqyDt2nh-_toOdrUe-M7earTlcWoKdu7yxIWlhoz6LHtiC_TRM-OWIAZrLOQSOOn_rbdX2AYgE3EMYNpv81fs3nLMnDCVu8Er6suELbVsUjDqAQS7im3AQ8S0ts1L7CuqHaidKLe0Y5jGF4vmkQA\"
        /><link rel=\"stylesheet\" media=\"all\" href=\"//cdnjs.cloudflare.com/ajax/libs/fo[...]
