interactions:
- request:
    body: null
    headers:
      x-ebirdapitoken:
      - REDACTED
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-DC/recent?back=1&includeProvisional=True&maxResults=50
  response:
    body:
      string: '[{"speciesCode":"ovenbi1","comName":"Ovenbird","sciName":"Seiurus aurocapilla","locId":"L30659777","locName":"Smithsonian
        Pollinator Garden","obsDt":"2026-04-20 13:35","howMany":1,"lat":38.8913913,"lng":-77.0243178,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S324733112"},{"speciesCode":"rocpig","comName":"Rock
        Pigeon","sciName":"Columba livia","locId":"L473521","locName":"Constitution
        Gardens and Reflecting Pool","obsDt":"2026-04-20 12:31","lat":38.8901142,"lng":-77.043364,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S324731643","exoticCategory":"N"},{"speciesCode":"ribgul","comName":"Ring-billed
        Gull","sciName":"Larus delawarensis","locId":"L473521","locName":"Constitution
        Gardens and Reflecting Pool","obsDt":"2026-04-20 12:31","howMany":3,"lat":38.8901142,"lng":-77.043364,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S324731643"},{"speciesCode":"eursta","comName":"European
        Starling","sciName":"Sturnus vulgaris","locId":"L473521","locName":"Constitution
        Gardens and Reflecting Pool"[...]
- request:
    body: null
    headers:
      x-ebirdapitoken:
      - REDACTED
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-DC/recent/notable?back=1&maxResults=50
  response:
    body:
      string: '[{"speciesCode":"naswar","comName":"Nashville Warbler","sciName":"Leiothlypis
        ruficapilla","locId":"L10127619","locName":"U. S. Capitol Grounds","obsDt":"2026-04-20
        12:29","howMany":1,"lat":38.8897649,"lng":-77.0112222,"obsValid":false,"obsReviewed":false,"locationPr[...]
- request:
    body: null
    headers:
      x-ebirdapitoken:
      - REDACTED
    method: GET
    uri: https://api.ebird.org/v2/product/spplist/US-DC
  response:
    body:
      string: '["bbwduc","snogoo","rosgoo","gragoo","gwfgoo","brant","bargoo","cacgoo1","cangoo","swagoo3","x00758","x00759","x00197","mutswa","blkswa","truswa","tunswa","egygoo","musduc","wooduc","buwtea","norsho","gadwal","amewig","mallar3","mdxmal1","ambduc","x00004","norpin","gnwtea","x00725","canvas","redhea","rinduc","t[...]
- request:
    body: null
    headers:
      x-ebirdapitoken:
      - REDACTED
    method: GET
    uri: https://api.ebird.org/v2/ref/hotspot/US-DC?fmt=json
  response:
    body:
      string: '[{"locId":"L609925","locName":"Alexandria Waterfront (DC waters)","countryCode":"US","subnational1Code":"US-DC","subnational2Code":"US-DC-001","lat":38.8070755,"lng":-77.0326996,"latestObsDt":"2026-04-13
        17:14","numSpeciesAllTime":171,"numChecklistsAllTime":588},{"locId":"L451233","locName":"Anacostia
        Park","countryCode":"US","subnational1Code":"US-DC","subnational2Code":"US-DC-001","lat":38.87179,"lng":-76.9848474,"latestObsDt":"2026-04-18
        09:08","numSpeciesAllTime":193,"numChecklistsAllTime":1069},{"locId":"L30332398","locName":"Anacostia
        Park West - Poplar Point","countryCode":"US","subnational1Code":"US-DC","subnational2Code":"US-DC-001","lat":38.8690585,"lng":-77.0017581,"latestObsDt":"2026-04-17
        15:57","numSpec[...]
